.history-main {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    overflow: scroll;
    overflow: hidden;
}

.history-container {
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 0 40px 0;
    border-radius: 25px;
    box-shadow: 1px 1px 2px rgb(130, 130, 130);
    gap: 10px;
}

.history-container input {
    width: 300px;
    height: 25px;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid rgb(168, 168, 168);
}

.history-item {
    width: 80%;
    border-bottom: 1px solid gray;
}

.history-container select {
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid gray;
}

.history-selected {
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: 1px solid rgb(171, 171, 171);
    width: 50%;
    height: auto;
    padding: 5px;
}

.history-select {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

.history-select button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgb(97, 0, 97);
    color: white;
}

@media screen and (min-width: 1024px){
    .history-container {
        width: 50vw;
    }
}